#cssmenu, #cssmenu ul, #cssmenu ul li, #cssmenu ul li a {
    border: 0 none;
    box-sizing: border-box;
    display: block;
    line-height: 1;
    list-style: outside none none;
    margin: 0;
    padding: 0;
    position: relative;
}
#cssmenu {
    color: #ffffff;
    font-family: Open Sans;
    position: fixed;
    top: 10%;
    width: 160px;
    z-index: 2147483647;
}
#cssmenu ul ul {
    display: none;
}
.align-right {
    float: right;
}
#cssmenu > ul > li > a {
    background: linear-gradient(#36aae7, #1fa0e4) repeat scroll 0 0 rgba(0, 0, 0, 0);
    border-left: 1px solid #1682ba;
    border-right: 1px solid #1682ba;
    border-top: 1px solid #1682ba;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.15) inset;
    color: #ffffff;
    cursor: pointer;
    font-size: 12px;
    font-weight: normal;
    padding: 17px 14px;
    text-decoration: none;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.35);
    z-index: 2;
}
#cssmenu > ul > li > a:hover, #cssmenu > ul > li.active > a, #cssmenu > ul > li.open > a {
    background: linear-gradient(#1fa0e4, #1992d1) repeat scroll 0 0 rgba(0, 0, 0, 0);
    color: #eeeeee;
}
#cssmenu > ul > li.open > a {
    border-bottom: 1px solid #1682ba;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.15) inset, 0 1px 1px rgba(0, 0, 0, 0.15);
}
#cssmenu > ul > li:last-child > a, #cssmenu > ul > li.last > a {
    border-bottom: 1px solid #1682ba;
}
.holder {
    height: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: 0;
}
.holder:after, .holder:before {
    content: "";
    display: block;
    height: 6px;
    position: absolute;
    right: 20px;
    transform: rotate(-135deg);
    width: 6px;
    z-index: 10;
}
.holder:after {
    /*border-left: 2px solid #ffffff;
    border-top: 2px solid #ffffff;*/
    top: 17px;
}
#cssmenu > ul > li > a:hover > span:after, #cssmenu > ul > li.active > a > span:after, #cssmenu > ul > li.open > a > span:after {
    border-color: #eeeeee;
}
.holder:before {
    /*border-left-color: inherit;
    border-left-style: solid;
    border-left-width: 2px;
    border-top-color: inherit;
    border-top-style: solid;
    border-top-width: 2px;
    top: 18px;*/
}
#cssmenu ul ul li a {
    background: none repeat scroll 0 0 #49505a;
    border-bottom: 1px solid #32373e;
    border-left: 1px solid #32373e;
    border-right: 1px solid #32373e;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1) inset;
    color: #eeeeee;
    cursor: pointer;
    font-size: 10px;
    padding: 10px 20px;
    text-decoration: none;
    z-index: 1;
}
#cssmenu ul ul li:hover > a, #cssmenu ul ul li.open > a, #cssmenu ul ul li.active > a {
    background: none repeat scroll 0 0 #424852;
    color: #ffffff;
}
#cssmenu ul ul li:first-child > a {
    box-shadow: none;
}
#cssmenu ul ul ul li:first-child > a {
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1) inset;
}
#cssmenu ul ul ul li a {
    padding-left: 30px;
}
#cssmenu > ul > li > ul > li:last-child > a, #cssmenu > ul > li > ul > li.last > a {
    border-bottom: 0 none;
}
#cssmenu > ul > li > ul > li.open:last-child > a, #cssmenu > ul > li > ul > li.last.open > a {
    border-bottom: 1px solid #32373e;
}
#cssmenu > ul > li > ul > li.open:last-child > ul > li:last-child > a {
    border-bottom: 0 none;
}
#cssmenu ul ul li.has-sub > a:after {
   /* border-left: 2px solid #eeeeee;
    border-top: 2px solid #eeeeee;*/
    content: "";
    display: block;
    height: 5px;
    position: absolute;
    right: 9px;
    top: 11.5px;
    /*transform: rotate(-135deg);*/
    width: 5px;
    z-index: 9999999999999999;
}
#cssmenu ul ul li.active > a:after, #cssmenu ul ul li.open > a:after, #cssmenu ul ul li > a:hover:after {
    border-color: #ffffff;
}
